{% extends "layout/login-layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<h5><a href="/"><i class="fa fa-arrow-left"></i> Back </a></h5>
<h1 class="login-heading"><b>> API Docs</b></h1>
<p class="login-subheading">
    Wanna develop for D0xk1t? Here are some useful API endpoints currently implemented
    in D0xk1t. No authentication necessary. 
</p>
<p class="login-subheading">
  Of course, this is where I would actually recommend
  using some sort of SaaS, so that you actually have a URL rather than a localhost IP address.
</p>
<br>

<div class="login-content col-md-6 col-md-offset-1">
    <h3> /api/geoip/< ip > </h3>
    <p>
      Using Google Map and Maxmind APIs to deliver geolocation data on specified 
      public IP address.
    </p>
</div>

{% endblock %}