{% extends "layout/layout.html" %}
{% import "bootstrap/wtf.html" as wtf %} 

{% block title %} {{ title }} {% endblock %}

{% block content %}


<h1 class="page-heading"> Mass Mailer Module <small>Conducting mass mailer attacks to gain data through spear phishing.</small></h1>

<hr />

<div class="row">
  
  <!-- About Panel -->
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-question-circle fa-fw"></i>About</h3>
      </div>
      <div class="panel-body">
          <div class="list-group">
            When conducting a penetration test, mass mailer attacks are great for sending large amounts
            of bulk emails. These enable security analysts to collect a multitude of data, whether it is 
            through passive attacks, where attackers aim to gain simple information like phone numbers
            and addresses, or much more aggressive ones, such as through spear phishing to gain much more
            sensitive and valuable information such as passwords.
         </div>
       </div> <!-- panel-body-->
    </div> <!-- panel -->
  </div>

</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-sign-in fa-fw"></i>Sign-in</h3>
      </div>
      <div class="panel-body">
        <div class="list-group">

        <form method="POST">
            {{ form.csrf_token }}
            {{ wtf.form_field(form.server )}}
            {{ wtf.form_field(form.port )}}
            {{ wtf.form_field(form.ssl )}}
            {{ wtf.form_field(form.tls )}}
            {{ wtf.form_field(form.username )}}
            {{ wtf.form_field(form.password )}}
            <input type="submit" class="btn btn-default" value="Authenticate"/>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}